#image-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    list-style: none;
}

#image-nav ul li {
    position: relative;

    flex: 1 1 150px;
    overflow: hidden;
}

#image-nav ul li img {
    object-fit: cover; 
    width: 100%;
    aspect-ratio: 1/1;
    display: block;

    padding: 0;
    margin: 0;

    transition: transform 0.2s cubic-bezier(.25, .88, .26, .88);
}

#image-nav ul li span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    right: 0;
    bottom: 0;
    top: 80%;

    color: white;
    background-color: #0005;
    font-size: 1.1em;

    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}


#image-nav ul li:hover span {
    top: 60%;
    font-size: 1.4em;
}

#image-nav ul li:hover img {
    transform: scale(1.4) rotate(15deg);
    animation: menu-image-pulse 10s ease-in-out infinite;
}

#videoSection p {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
}

#videoSection iframe {
    display: block;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 16/9;
}

hr {
    margin: 50px 0;
}


/* Animations */
@keyframes menu-image-pulse {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.3;
    }
    100% {
        scale: 1;
    }
}



/* Media Queries */
/* Mobile Devices */
@media screen and (max-width: 480px) {
    #videoSection iframe {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 481px) {
    #videoSection iframe {
        width: 90%;
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    #videoSection iframe {
        width: 80%;
    }
}