@import './colors.css';

/* Main Content */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;

    animation: main-fade-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main > :nth-child(even) {
    animation: item-slide-left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
main > :nth-child(odd) {
    animation: item-slide-right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Information Cards */
article.section-info {
    background-color: #0002;
    border-radius: 5px;
    overflow: hidden;

    margin: 10px auto;

    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

article.section-info h3 {
    text-align: center;
    padding: 5px;
    background-color: #0002;

    margin-top: 0;
    margin-bottom: 0;
}

article.section-info p {
    padding: 10px 20px;
    margin: 0;
    text-indent: 2em;
}

article.section-info:hover {
    transform: scale(1.03) translateY(-5px);
    box-shadow: 0 0 10px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}


/* Table */
table.cost {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    background-color: #0002;
    border-radius: 10px;

    overflow: hidden;
    margin: 5px;

    place-self: start center;
    border-collapse: collapse;

    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

table.cost th, table.cost td {
    text-align: center;
    background-color: #0000;
    min-height: 80px;
    height: 80px;
    max-height: 80px;

    transition: background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

table.cost thead {
    background-color: #0002;
}

table.cost thead th:not(:first-child) {
    border-bottom: 1px solid var(--primary-border-color);
}

table.cost tbody th {
    background-color: #0001;
    border-right: 1px solid var(--primary-border-color);
}

table.cost tbody th span {
    display: inline-block;
    transform: rotate(-25deg) skewX(-25deg);
    letter-spacing: 0.2em;
}


table.cost tbody td:hover {
    background-color: #0001;
}

table.cost:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}


/* Animations */
@keyframes main-fade-in {
    from { 
        opacity: 0;
        transform: translateY(20px) scale(0.9); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0) scale(1);
    }
}

@keyframes item-slide-right {
    from { 
        opacity: 0;
        transform: translateX(-60px); 
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}

@keyframes item-slide-left {
    from { 
        opacity: 0;
        transform: translateX(60px); 
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}


/* Media Queries */
/* Mobile Devices */
@media screen and (max-width: 480px) {
}

/* Tablet */
@media screen and (min-width: 481px) {
}

/* Desktop */
@media screen and (min-width: 769px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}