

/* Table */
/*
table.basic {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-collapse: collapse;

    background-color: #0002;
    border-radius: 10px;

    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

table.basic th, table.basic td {
    padding: 10px;
    text-align: center;
    background-color: #0000;
    min-height: 50px;
    height: 50px;

    transition: background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

table.basic th {
    border-bottom: 1px solid var(--primary-border-color);
    background-color: #0002;
}

table.basic th:first-child {
    border-radius: 10px 0 0 0;
}

table.basic th:last-child {
    border-radius: 0 10px 0 0;
}

table.basic td:first-child {
    border-right: 1px solid var(--primary-border-color);
    transform: rotate(-25deg) skewX(-25deg);
    letter-spacing: 0.2em;
}

*/
/* Disregard the first column and select all other columns */
/* table.basic td:not(:first-child):hover {
    background-color: #0001;
}

table.basic:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
} */

