{
	admin 127.0.0.1:2020
}

:2015 {
	bind 127.0.0.1
	root * /home/pidevice-1/Documents/repos/CloudProviderWebsiteProject

	try_files {path} {path}/ /index.html

	@blockreadme path /README.md /README /.gitignore
	respond @blockreadme 404

	file_server	

	log {
		output file /home/pidevice-1/Documents/repos/CloudProviderWebsiteProject/caddy.access.log
		format json
	}
}
