@import './colors.css';

/* Main Content */
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;

    animation: main-fade-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main > :nth-child(even) {
    animation: item-slide-left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
main > :nth-child(odd) {
    animation: item-slide-right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* Page Title */
h1#page-title {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 18em;
    padding: 5px;

    border-radius: 0 0 10px 10px;
    background-color: var(--primary-navbar-color);

    grid-column: span 2;
}

/* Information Cards */
article {
    background-color: #0002;
    border-radius: 5px;
    overflow: hidden;

    margin: 10px auto;

    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

article h3 {
    text-align: center;
    padding: 5px;
    background-color: #0002;
    border-bottom-right-radius: 5px;
    max-width: 150px;

    margin-top: 0;
    margin-bottom: 0;
}

article p {
    padding: 10px 20px;
    margin: 0;
}

article:hover {
    transform: scale(1.03) translateY(-5px);
    box-shadow: 0 0 10px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}


/* Media Queries */
@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }
    
    h1#page-title {
        width: 100%;
        max-width: none;
        border-radius: 0;
    }
}

/* Animations */
@keyframes main-fade-in {
    from { 
        opacity: 0;
        transform: translateY(20px) scale(0.9); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0) scale(1);
    }
}

@keyframes item-slide-right {
    from { 
        opacity: 0;
        transform: translateX(-60px); 
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}

@keyframes item-slide-left {
    from { 
        opacity: 0;
        transform: translateX(60px); 
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}